body {
    background: linear-gradient(#FFF, #000);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotatein 2s linear infinite;
}

h1 {
    background: linear-gradient(#F00, #000);
    color: white;
    padding: 10px;
    animation: slidein 2s linear infinite;
    width: 500px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes slidein {
    0% {
      transform: rotate(0);
    }
  
    100% {
        transform: rotate(45deg);
        background: linear-gradient(#000, #F00, #FFF);
    }
  }

  @keyframes rotatein {
    0% {
      transform: scale(1);
      border-radius: 0;
      color: white;
    }
  
    100% {
        transform: scale(1.5);
        border-radius: 50%;
        color: black;
        box-shadow: 10px 10px 10px black;
        padding: 100px;
    }
  }